@page "/fetchdata"

@using ChangeManagement.Data
@using ChangeManagement.Models
@using System.ComponentModel.DataAnnotations;
@inject ChangeManagementService ChangeService

<h1>Changes 
<button class="btn btn-primary" @onclick="ClearChanges">Clear List</button>
<AddChange />
</h1>



<div id="table-wrapper">
<div id="table-scroll">
@if (changes == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <table class="table">
        <thead class="sticky-top">
            <tr>
                <!--<th>Change ID</th>-->
                <th>Title</th>
                <th>Description</th>
                <th>Owner</th>
                <th>Created On</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody class="sticky-third">
            @foreach (var change in changes)
            {
                <tr>
                    <!--<td>@change.Id</td>-->
                    <td>@change.Title</td>
                    <td>@change.Description</td>
                    <td>@change.Owner</td>
                    <td>@change.CreatedOn</td>
                    <td><button class="btn btn-primary" @onclick="(() => AddNotes(change.Id))">Add Notes</button></td>
                    <td><button class="btn btn-primary">Sign Off</button></td>
                </tr>
            }
        </tbody>
    </table>
}
</div>
</div>


@code {
    IList<Change> changes = new List<Change>();
    protected override async Task OnInitializedAsync()
    {
        changes = await ChangeService.GetChangesAsync();
    }
    protected async Task ClearChanges()
    {
        await ChangeService.DeleteChangesAsync();
        changes = await ChangeService.GetChangesAsync();
    }
    protected void AddNotes(int id)
    {
        Console.WriteLine("AddNote " + id + " Pressed");
        ;
    }
}